.register {
    border: 1px solid #E8E8E8 ;
    height: 100vh;
    width: 20%;
    /* align-items: center; */
    border: 1px solid #E8E8E8;
    /* background-color: red; */
}

.register-logo {
    align-items: center;
    padding: 30px;
    margin-left: 30px;
    margin-top: 20px;
    /* margin: 0 100px 0; */
    /* background-color: aqua; */
}

.register-text {
    text-align: center;
    font-weight: 600;
    padding: 10px;
    color: #7F8C9E;
}

.register-text1 {
    text-align: center;
    color: #7F8C9E;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.register-text2 {
    text-align: center;
    padding: 0 10px;
    color: #9DA2AD;
    font-weight: 400;
    /* background-color: red; */
}

.register-input {
    /* background-color: red; */
    padding: 10px;
}

.register-input > .marge {
    margin: 5px 10px;
    /* width: 100%; */
    padding: 3px;
}

.marge > input {
    height: 40px;
    width: 95%;
    font-size: small;
    border-radius: solid #E8E8E8 ;
    box-sizing: border-box;
}

.register-button > button {
    height: 40px;
    width: 92%;
    /* width: 80%; */
    background-color: #4CB5F9;
    /* margin-left: 3%; */
    font-size: medium;
    box-sizing: content-box;
    margin: 10px 10px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    color: white;
    /* background-color: red; */
}