.posts {
    margin-left: 30%;
    margin-top: 8px;
}

.posts-header {
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
}

.posts-header > span {
    margin-left: 10px;
    margin-top: 8px;
}

.posts-body {
    width: 400px;
    height: 468px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 5px;
    background-image: url('https://i.pravatar.cc/300');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 5px;
    box-sizing: border-box;
}



.footer-action {
    display: flex;
}

.action-item {
    margin-right: 10px;
}

/* .posts-body > img {
    width: 400px;
    height: 468px;
    border-radius: 100px solid rgb(203, 202, 202);
    background-color: yellow;
} */