.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: max-content; */
  height: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.avatar > img {
  /* margin: auto; */
  /* width: unset; */
  /* width: 35px;
  height: 35px; */
  border-radius: 50%;
}

/* img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
} */