.chat-user {
    display: flex;
    border: hidden;
    /* background-color: red; */
    width: 91%;
    padding: 10px 20px 10px;
    cursor: pointer;
    /* border-bottom: 1px solid rgb(203, 202, 202); */
}

.name-chatuser {
    margin: 0 10px;
}

.namestyle {
    color: #000000;
    font-size: large;

}