.profile {
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* background-color: gray; */
}

.profile-header {
    display: flex;
    justify-content: center;
    /* width: 80%; */
    height: 40vh;
    /* width: 60%; */
    /* padding: 30px 20px 0; */
    /* align-items: center; */
    border-bottom: 1px solid gray;
    /* background-color: yellow; */

}

.profile-pi {
    /* display: grid; */
    /* align-items: center; */
    /* text-align: center; */
    width: 40%;
    justify-content: center;
    /* background-color: aqua; */
}

.profile-pi-header {
    display: flex;
    height: 5vh;
    /* background-color: blueviolet; */
    padding: 30px 0;
    /* justify-content: center; */
    /* border-bottom: 1px solid gray; */
}

.profile-button {
    background-color: none;
    height: 40px;
    width: 110px;
    border-radius: 5px solid #EFEFEF;
    margin-right: 10px;
    margin: 10px 5px 10px;
}

.profile-button > button{
    height: 100%;
    width: 100%;
    color: #11406F;
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    box-sizing: content-box;
    cursor: pointer;
}

.profile-settings {
    background-color: red;
    height: 100%;
    width: 10%;
    margin-top: 50%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;

}

.profile-avt {
    /* background-color: aquamarine; */
    width: 15%;
    align-items: center;
    /* justify-content: center; */
}

.profile-pi-body {
    /* display: grid; */
    /* background-color: red; */
    padding: 0;
    /* padding: 10px; */

}

.profile-pi-mid {
    display: flex;
}

.profile-text {
    /* font-size:larger ; */
    margin: 10px 20px;
    /* font-weight: bold; */

}

.profile-text > .upcontent {
    font-size:larger ;
    font-weight: bolder;
}

.profile-id {
    font-weight: 300;
    font-size: xx-large;
}

.profile-footer {
    padding: 10px 10px;
}

.profile-username {
    font-size: x-large;
    font-weight: bolder;
    padding: 10px;
    /* background-color: red; */
}

.profile-bio {
    margin: 10px;
}

.profile-contact {
    margin: 10px;
    /* background-color: red; */
}